<!DOCTYPE html>
<html>
<head>
  <title>Aleaf</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>




</head>
<%= render 'shared/navbar'  %>
<body>
  <% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
  <%= yield %>
</body>
<%= render 'shared/footer'  %>
</html>
